<div style="position:relative">
    

    <a href="@Url.Action("pantalonesshorts")">
        <img src="/Content/images/menu/PantalonesDerecha.gif" alt="Pantalones" class="botoneraRight botonera botoneraLarge">
    </a>
    

    <a href="@Url.Action("buzoscamperas")">
        <img src="/Content/images/menu/BuzoCamperanenemedio.jpg" alt="Buzos y camperas" class="botonera">
    </a>


    
    <a href="@Url.Action("remerascamisas")" >
        <img src="/Content/images/menu/remeraCamisasIzq.gif" alt="remeras y camisas" class="botonera">
    </a>
    
</div>