<div style="position:relative">
    @*//VARON
    //1 - Remeras - Musculosas 
          Camisas - Campera rustica
    //2 - Bermudas - Shorts de baño*@

    <a href="@Url.Action("camperaspantalones")">
        <img src="/Content/images/menu/CamperasPantalones.gif" alt="Camperas y Pantalones" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("remeras")">
        <img src="/Content/images/menu/camisaRemeraBuzosHombreSoloMedio.jpg" alt="Remeras, Buzos y Camisas" class="botonera">
    </a>
    
    <a href="@Url.Action("abrigos")" >
        <img src="/Content/images/menu/AbrigosIzq.gif" alt="Abrigos" class="botonera">
    </a>
    
</div>