<div style="position:relative">
    

    <a href="@Url.Action("pantalonesshorts")">
        <img src="/Content/images/menu/pantalonesshortsdebanoder.gif" alt="Pantalones y shorts de baño" class="botoneraRight botonera botoneraLarge">
    </a>
    
    <a href="@Url.Action("remerascamisas")" >
        <img src="/Content/images/menu/remeraCamisasIzq.gif" alt="remeras y camisas" class="botonera">
    </a>
    
</div>