<div style="position:relative">
    @*//VARON
    //1 - Remeras - Musculosas 
          Camisas - Campera rustica
    //2 - Bermudas - Shorts de baño*@

    <a href="@Url.Action("pantalonesshorts")">
        <img src="/Content/images/menu/ShortBermudasDerecha.gif" alt="Bermudas y Shorts de Baño" class="botoneraRight botonera botoneraLarge">
    </a>
    

    <a href="@Url.Action("buzoscamperas")">
        <img src="/Content/images/menu/camisaCamperasHombreMedio.jpg" alt="Camisas y camperas" class="botonera">
    </a>


    
    <a href="@Url.Action("remerascamisas")" >
        <img src="/Content/images/menu/remeraMusculosas.gif" alt="remeras y musculosas" class="botonera">
    </a>
    
</div>