@using MvcApplication2.Resource;
@{
    ViewBag.Title = "";
}


@section PageScripts{

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                animation: "slow",
                wrap: "both"
            });
            $("a[rel=example_group]").fancybox({
                'transitionIn': 'none',
                'transitionOut': 'none',
                'titlePosition': 'over',
                autoSize: false,
                autoDimensions: false,
                //'autoScale': false,
                titleFormat: function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Foto ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });


        });


	</script>
}

    @{
        Html.RenderPartial("Botonera",null);
    }

    <div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">Pantalones y Shorts de baño  para Varones </span>
    </div>    
    <div id="content_container">
		<div id="productos_container">
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6695.jpg" title="Art. 6695 – Pantalón gabardina chupín – Talles: 4 al 14 – Colores: Francia - Turquesa - Verde menta" class="fancybox-image">
		            <img src="/Content/images/baja/6695.gif" alt="" class="foto">
		            <h2>Pantalón gabardina chupín</h2>
		            <div class="codigo">Art. 	6695</div>
		        </a>
		    </div>          
            
            <div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6697.jpg" title="Art. 6697 – Bermuda – Talles: 4 al 14 – Colores: Francia - Blanco - Gris - Negro" class="fancybox-image">
                    <img src="/Content/images/baja/6697.gif" alt="" class="foto">
                    <h2>Bermuda</h2>
					<div class="codigo">Art. 	6697</div>
			    </a>
			</div>
                 
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6698.jpg" title="Art. 6698 – Short de baño con recortes – Talles: 4 al 14 – Colores: Turquesa con naranja y blanco - Gris con turquesa y amarillo" class="fancybox-image">
		            <img src="/Content/images/baja/6698.gif" alt="" class="foto">
		            <h2>Short de baño con recortes</h2>
		            <div class="codigo">Art. 	6698</div>
		        </a>
		    </div>
                           
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6700.jpg" title="Art. 6700 – Short de baño – Talles: 4 al 14 – Colores: Turquesa - Negro - Rojo" class="fancybox-image">
		            <img src="/Content/images/baja/6700.gif" alt="" class="foto">
		            <h2>Short de baño</h2>
		            <div class="codigo">Art. 	6700</div>
		        </a>
		    </div>

		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6701.jpg" title="Art. 6701 – Short de baño estampado – Talles: 4 al 14 – Colores: Turquesa - Verde menta - Francia" class="fancybox-image">
		            <img src="/Content/images/baja/6701.gif" alt="" class="foto">
		            <h2>Short de baño estampado</h2>
		            <div class="codigo">Art. 	6701</div>
		        </a>
		    </div>
            
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6701_2.jpg" title="Art. 6701 – Short de baño estampado – Talles: 4 al 14 – Colores: Turquesa - Verde menta - Francia" class="fancybox-image">
		            <img src="/Content/images/baja/6701_2.gif" alt="" class="foto">
		            <h2>Short de baño estampado</h2>
		            <div class="codigo">Art. 	6701</div>
		        </a>
		    </div>

            <div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6707.jpg" title="Art. 6707 – Short de baño liso y estampado – Talles: 4 al 14 – Colores: Marino - Turquesa - Francia" class="fancybox-image">
                    <img src="/Content/images/baja/6707.gif" alt="" class="foto">
                    <h2>Short de baño liso y estampado</h2>
					<div class="codigo">Art. 	6707</div>
			    </a>
			</div>
		</div>
	</div>