<div style="position:relative">
    @*//1 - Remeras - Musculosas - Camisas - Chombas
        //2 - Bermudas - Shorts baño - Jardinero
        //3 - Campera rustica - Rompeviento*@


    <a href="@Url.Action("camperas")">
        <img src="/Content/images/menu/CamperasAbrigosNene.gif" alt="Camperas y Abrigos" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("pantalones")">
        <img src="/Content/images/menu/PantalonesBuzosMedio.gif" alt="Pantalones y Buzos" class=" botonera">
    </a>

    <a href="@Url.Action("remeras")">
        <img src="/Content/images/menu/remeraCombaCamisasIzq.gif" alt="Remeras, Chombas y Camisas" class="botonera">
    </a>

</div>