<div style="position:relative">

    <a href="@Url.Action("abrigos")">
        <img src="/Content/images/menu/AbrigosHombresDerecha.gif" alt="" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("pantalones")">
        <img src="/Content/images/menu/pantalonesHombreMedio.jpg" alt="" class="botonera">
    </a>

    <a href="@Url.Action("camperasbuzos")">
        <img src="/Content/images/menu/CamperasBuzoLARGEmedio.jpg" alt="" class="botoneraLarge botonera">
    </a>

    <a href="@Url.Action("remerascamisas")">
        <img src="/Content/images/menu/remeraCamisa.gif" alt="" class="botonera">
    </a>

</div>