@using MvcApplication2.Resource;
@{
    ViewBag.Title = "";
}


@section PageScripts{

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                animation: "slow",
                wrap: "both"
            });
            $("a[rel=example_group]").fancybox({
                'transitionIn': 'none',
                'transitionOut': 'none',
                'titlePosition': 'over',
                autoSize: false,
                autoDimensions: false,
                //'autoScale': false,
                titleFormat: function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Foto ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });


        });


	</script>
}

@{
    Html.RenderPartial("Botonera",null);
}

<div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">Buzos y Camperas de Frisa  y Polar para Bebes </span>
    </div>    
    <div id="content_container">
		<div id="productos_container">
						
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/5023.jpg" title="Art. 6428 – Buzo Player – Talles: 1 al 6 – Colores: Rojo – Azul – Verde" class="fancybox-image">
                    <img src="/Content/images/baja/5023.gif" alt="" class="foto">
                    <h2>Buzo Player</h2>
					<div class="codigo">Art. 	6428</div>
			    </a>
			</div>
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/5025.jpg" title="Art. 6429 – Buzo con Capucha – Talles: 1 al 6 – Colores: Tomate – Mostaza – Aero // Tomate – Melange">
		            <img src="/Content/images/baja/5025.gif" alt="" class="foto">
		            <h2>Buzo con Capucha</h2>
		            <div class="codigo">Art. 	6429</div>
		        </a>
		    </div>
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/5031.jpg" title="Art. 6431 – Campera Valley – Talles: 1 al 6 – Colores: Aero – Francia – Marino – Melange">
		            <img src="/Content/images/baja/5031.gif" alt="" class="foto">
		            <h2>Campera Valley</h2>
		            <div class="codigo">Art. 	6431</div>
		        </a>
		    </div>
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/5029.jpg" title="Art. 6435 – Campera Polar con Capucha – Talles: 1 al 6 – Colores: Beige - Rojo - Francia - Marino">
		            <img src="/Content/images/baja/5029.gif" alt="" class="foto">
		            <h2>Campera Polar con Capucha</h2>
		            <div class="codigo">Art. 	6435</div>
		        </a>
		    </div>
            	
@*			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/5020.jpg" title="Art. 6431 – Pantalón Chupin – Talles: 1 al 6 – Colores: Tomate – Petroleo – Verde">
                    <img src="/Content/images/baja/5020.gif" alt="" class="foto">
                    <h2>Pantalón Chupin</h2>
					<div class="codigo">Art. 	6438</div>
			    </a>
			</div>	
            <div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/5025.jpg" title="Art. 6430 – Pantalón – Talles: 1 al 6 – Colores: Aero – Francia – Marino">
                    <img src="/Content/images/bebes/remeras/low/5025.gif" alt="" class="foto">
                    <h2 >Pantalón</h2>
					<div class="codigo">Art. 	6430</div>
			    </a>
            </div>	*@
		
						<div class="sep_gral"></div>
			</div>
		</div>