@using MvcApplication2.Resource;
@{
    ViewBag.Title = "";
}


@section PageScripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                animation: "slow",
                wrap: "both"
            });
            $("a[rel=example_group]").fancybox({
                'transitionIn': 'none',
                'transitionOut': 'none',
                'titlePosition': 'over',
                autoSize: false,
                autoDimensions: false,
                //'autoScale': false,
                titleFormat: function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Foto ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });
        });
	</script>
}
@{
    Html.RenderPartial("Botonera",null);
}

<div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">Abrigos con Wata para Bebas </span>
    </div>    
    <div id="content_container">
		<div id="productos_container">
						
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/4949.jpg" title="Art. 6420 – Chaleco – Talles: 1 al 6 – Colores: Rojo - Fucsia - Gris" class="fancybox-image">
                    <img src="/Content/images/baja/4949.gif" alt="" class="foto">
                    <h2>Chaleco</h2>
					<div class="codigo">Art. 	6420</div>
			    </a>
			</div>
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/4976.jpg" title="Art. 6421 – Campera con volados – Talles: 1 al 6 – Colores: Rojo - Fucsia - Rosa">
		            <img src="/Content/images/baja/4976.gif" alt="" class="foto">
		            <h2>Campera con volados</h2>
		            <div class="codigo">Art. 	6421</div>
		        </a>
		    </div>
            
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/4973.jpg" title="Art. 6422 – Campera estampada – Talles: 1 al 6 – Colores: Rosa  ">
                    <img src="/Content/images/baja/4973.gif" alt="" class="foto">
                    <h2>Campera estampada</h2>
					<div class="codigo">Art. 	6422</div>
			    </a>
			</div>	
            
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/4975.jpg" title="Art. 6423 – Tapado con moños estampada – Talles: 1 al 6 – Colores: Fucsia - Rojo -Gris ">
                    <img src="/Content/images/baja/4975.gif" alt="" class="foto">
                    <h2>Tapado con moños</h2>
					<div class="codigo">Art. 	6423</div>
			    </a>
			</div>	

		</div>
	</div>