@using MvcApplication2.Resource;
@{
    ViewBag.Title = "";
}


@section PageScripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                animation: "slow",
                wrap: "both"
            });
            $("a[rel=example_group]").fancybox({
                'transitionIn': 'none',
                'transitionOut': 'none',
                'titlePosition': 'over',
                autoSize: false,
                autoDimensions: false,
                //'autoScale': false,
                titleFormat: function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Foto ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });
        });
	</script>
}
@{
    Html.RenderPartial("Botonera",null);
}

<div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">Pantalones y Calzas para Bebas </span>
    </div>    
    <div id="content_container">
		<div id="productos_container">
		    
                      
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6607.jpg" title="Art. 6607 – Calza lisa – Talles: 1 al 6 – Colores: Chicle - Salmón ">
		            <img src="/Content/images/baja/6607.gif" alt="" class="foto">
		            <h2>Calza lisa</h2>
		            <div class="codigo">Art. 	6607</div>
		        </a>
		    </div>	
            
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6608.jpg" title="Art. 6608 – Calza estampada – Talles: 1 al 6 – Colores: Chicle - Rosa - Salmón">
		            <img src="/Content/images/baja/6608.gif" alt="" class="foto">
		            <h2>Calza estampada</h2>
		            <div class="codigo">Art. 	6608</div>
		        </a>
		    </div>			
            
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6609.jpg" title="Art. 6609 – Pollera con moño – Talles: 1 al 6 – Colores: Chicle - Salmón">
		            <img src="/Content/images/baja/6609.gif" alt="" class="foto">
		            <h2>Pollera con moño</h2>
		            <div class="codigo">Art. 	6609</div>
		        </a>
		    </div>
            

		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6610.jpg" title="Art. 6610 – Short con volados – Talles: 1 al 6 – Colores: Blanco - Chicle - Salmón">
		            <img src="/Content/images/baja/6610.gif" alt="" class="foto">
		            <h2>Short con volados</h2>
		            <div class="codigo">Art. 	6610</div>
		        </a>
		    </div>
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6611.jpg" title="Art. 6611 – Pantalon elastizado estampado – Talles: 1 al 6 – Colores: Blanco con chicle - Blanco con francia y turquesa" class="fancybox-image">
		            <img src="/Content/images/baja/6611.gif" alt="" class="foto">
		            <h2>Pantalon elastizado estampado</h2>
		            <div class="codigo">Art. 	6611</div>
		        </a>
		    </div>
            
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6612.jpg" title="Art. 6612 – Short elastizado estampado – Talles: 1 al 6 – Colores: Blanco con chicle - Blanco con francia y turquesa ">
		            <img src="/Content/images/baja/6612.gif" alt="" class="foto">
		            <h2>Short elastizado estampado</h2>
		            <div class="codigo">Art. 	6612</div>
		        </a>
		    </div>	
            
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6613.jpg" title="Art. 6613 – Short rústico elastizado – Talles: 1 al 6 – Colores: Chicle - Salmón ">
		            <img src="/Content/images/baja/6613.gif" alt="" class="foto">
		            <h2>Short rústico elastizado</h2>
		            <div class="codigo">Art. 	6613</div>
		        </a>
		    </div>	
              
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6712.jpg" title="Art. 6712 – Pantalón rústico – Talles: 1 al 6 – Colores: Chicle - Salmón">
		            <img src="/Content/images/baja/6712.gif" alt="" class="foto">
		            <h2>Pantalón rústico</h2>
		            <div class="codigo">Art. 	6712</div>
		        </a>
		    </div>

		</div>
	</div>