@using MvcApplication2.Resource;
@{
    ViewBag.Title = "";
}


@section PageScripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                animation: "slow",
                wrap: "both"
            });
            $("a[rel=example_group]").fancybox({
                'transitionIn': 'none',
                'transitionOut': 'none',
                'titlePosition': 'over',
                autoSize: false,
                autoDimensions: false,
                //'autoScale': false,
                titleFormat: function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Foto ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });
        });
	</script>
}
@{
    Html.RenderPartial("Botonera",null);
}

<div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">Remeras y Camisas para Bebas </span>
    </div>    
    <div id="content_container">
		<div id="productos_container">
						
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6601.jpg" title="Art. 6601 – Remera manga abuchonada – Talles: 1 al 6 – Colores: Blanco - Chicle - Salmón - Manteca" class="fancybox-image">
                    <img src="/Content/images/baja/6601.gif" alt="" class="foto">
                    <h2>Remera manga abuchonada</h2>
					<div class="codigo">Art. 	6601</div>
			    </a>
			</div>
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6602.jpg" title="Art. 6602 – Remera manga borderie – Talles: 1 al 6 – Colores: Blanco - Chicle - Salmón - Manteca">
		            <img src="/Content/images/baja/6602.gif" alt="" class="foto">
		            <h2>Remera manga borderie</h2>
		            <div class="codigo">Art. 	6602</div>
		        </a>
		    </div>
            
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6603.jpg" title="Art. 6603 – Remeron 2 volados – Talles: 1 al 6 – Colores: Blanco - Chicle - Salmón - Manteca ">
                    <img src="/Content/images/baja/6603.gif" alt="" class="foto">
                    <h2>Remeron 2 volados</h2>
					<div class="codigo">Art. 	6603</div>
			    </a>
			</div>	
            
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6604.jpg" title="Art. 6604 – Remeron con broderie – Talles: 1 al 6 – Colores: Blanco - Chicle - Salmón ">
                    <img src="/Content/images/baja/6604.gif" alt="" class="foto">
                    <h2>Remeron con broderie</h2>
					<div class="codigo">Art. 	6604</div>
			    </a>
			</div>	
            
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6605.jpg" title="Art. 6605 – Remeron con volado broderie – Talles: 1 al 6 – Colores: Blanco - Chicle - Salmón ">
                    <img src="/Content/images/baja/6605.gif" alt="" class="foto">
                    <h2>Remeron con volado broderie</h2>
					<div class="codigo">Art. 	6605</div>
			    </a>
			</div>	
            
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6606.jpg" title="Art. 6606 – Remeron con moño – Talles: 1 al 6 – Colores: Blanco - Chicle - Salmón ">
                    <img src="/Content/images/baja/6606.gif" alt="" class="foto">
                    <h2>Remeron con moño</h2>
					<div class="codigo">Art. 	6606</div>
			    </a>
			</div>	
            
			<div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6614.jpg" title="Art. 6614 – Camisa plumeti – Talles: 1 al 6 – Colores: Blanco - Chicle - Salmón">
                    <img src="/Content/images/baja/6614.gif" alt="" class="foto">
                    <h2>Camisa plumeti</h2>
					<div class="codigo">Art. 	6614</div>
			    </a>
			</div>	
		</div>
	</div>