<div style="position:relative">
    <a href="@Url.Action("Abrigos")">
        <img src="/Content/images/menu/AbrigoNenaDerecha.gif" alt="Abrigos" class="botoneraRight botonera">
    </a>
    <a href="@Url.Action("MiniBebas")">
        <img src="/Content/images/menu/MiniBebaMedio.jpg" alt="Mini Bebas" class="botonera">
    </a>
    <a href="@Url.Action("MiniBebes")">
        <img src="/Content/images/menu/MiniBebeizq.gif" alt="Mini Bebes" class="botonera">
    </a>

</div>