@using MvcApplication2.Models
@model Model.Clouth

<div id="SearchResultsContent">
	<div class="SearchPic">
		@*<a href="<%: Url.RouteUrl("ProductDetails",new{ productType = Model.ProductType, Title = Model.ProductTitle, productId = Model.ProductId })%>">
			<img width="80px" height="105px" src="<%=Url.Content(Model.ImageUrl)%>" alt="<%=Html.Encode(Model.ProductTitle)%>"/>
		</a>*@
        @*<img width="80px" height="105px" src="Url.Content(Model.ImageUrl)%>" alt="<%=Html.Encode(Model.ProductTitle)%>"/>*@
        <a href=@Url.Action("Babies", "Clouth")>
            <img width="80px" height="105px" src="/Content/images/home/portfolio-item-1.gif" alt="Este es el ALT"/>
        </a>
	</div>
	<div class="SearchInfo">
		<div class="SearchResultsTitle">
            TITULO
		</div>
		
		<ul>
			@*@if (Model.Speakers!=null && Model.Speakers.Count>0){*@

				<li>
					@*@foreach (string author in Model.Speakers)
					{
						Response.Write(Html.LablelPropertyText(author.Contains("Autor") ? author.Replace("Autor", "Autor/es") : author));
					}*@
                    LISTA1 
                    
				</li>
			@*}*@
			@*@if (!string.IsNullOrEmpty(Model.AdminInfo)) {*@
				<li>
					@*@Html.LablelPropertyText(Model.AdminInfo)*@
                    LISTA 2
				</li>
			@*}*@
			@*@if (Model.Discount != null && Model.Discount.PercentageDiscounted!=0){ *@
@*				<li>
					<div>
						<span style=" font-weight: normal;">></span>
						<label class="label">
                            NOSE
						</label> 
                        DESPUES DEL LABEL
					</div>
				</li>*@
			@*}*@
		</ul>
		@*@if (!string.IsNullOrEmpty(Model.PromotionPriceWithTax)) {*@
			<div class="SearchPrice">
				<div id="SearchResultsBuyButton">
					@*@Html.RenderPartial("PartialViews/Product/BuyButton", Model); *@
                    BOTON DE COMPRAR
				</div>
			</div>
		@*}*@
	</div>
    <div class="searchDots"></div>
</div>