@model IEnumerable<Model.Clouth>

@{
    ViewBag.Title = "BebesTitle";
}

<div align="center" style="display: table">
<h2>BebesTas</h2>
</div>
<br/>
<div>

    <table>
@*            @Html.RenderPartial("_DisplayClouth", babyClouth);*@
            


    </table>


</div>
