@using MvcApplication2.Resource;
@using MvcApplication2.Models;

@model List<HyalcoreClouth>

    @{
        //ViewData["Title"] = "Dinenti Home Page";
        ViewBag.Title = "Dinenti Home Page";
    }


    @section PageScripts{


        <script type="text/javascript">

        </script>
    }
    <div class="panel-primary">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="row carousel-holder">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-10">
                                    <div class="thumbnail">
                                        <img src="/Content/images/recomendation/Dinenti-texto.gif" alt="Nature" style="width:100%">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img src="/Content/images/recomendation/left.gif" alt="Nature" style="width:100%">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <div class="carousel-inner">
                                            <div class="item active">
                                                <img class="slide-image" src="/Content/images/recomendation/recomendacion4.jpg" alt="">
                                            </div>
                                            <div class="item">
                                                <img class="slide-image" src="/Content/images/recomendation/recomendacion2.jpg" alt="">
                                            </div>
                                            <div class="item">
                                                <img class="slide-image" src="/Content/images/recomendation/recomendacion1.jpg" alt="">
                                            </div>
                                            <div class="item">
                                                <img class="slide-image" src="/Content/images/recomendation/recomendacion5.jpg" alt="">
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                        <img src="/Content/images/recomendation/right.gif" alt="Nature" style="width:100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
