@using MvcApplication2.Resource;
@{
    ViewBag.Title = "";
}


@section PageScripts{

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                animation: "slow",
                wrap: "both"
            });
            $("a[rel=example_group]").fancybox({
                'transitionIn': 'none',
                'transitionOut': 'none',
                'titlePosition': 'over',
                autoSize: false,
                autoDimensions: false,
                //'autoScale': false,
                titleFormat: function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Foto ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });


        });


	</script>
}

    @{
        Html.RenderPartial("Botonera",null);
    }

    <div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">Abrigos con Wata para Nenas </span>
    </div>    
    <div id="content_container">
		<div id="productos_container">
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/4995.jpg" title="Art. 6467 – Chaleco con tachas – Talles: 4 al 14 – Colores: Rojo - Fucsia - Gris - Negro" class="fancybox-image">
		            <img src="/Content/images/baja/4995.gif" alt="" class="foto">
		            <h2>Chaleco con tachas</h2>
		            <div class="codigo">Art. 	6467</div>
		        </a>
		    </div>
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/5000.jpg" title="Art. 6468 – Campera – Talles: 4 al 14 – Colores: Rojo - Fucsia - Negro" class="fancybox-image">
		            <img src="/Content/images/baja/5000.gif" alt="" class="foto">
		            <h2>Campera</h2>
		            <div class="codigo">Art. 	6468</div>
		        </a>
		    </div>
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/4999.jpg" title="Art. 6469 – Tapado – Talles: 4 al 14 – Colores: Rojo - Fucsia - Gris - Negro" class="fancybox-image">
		            <img src="/Content/images/baja/4999.gif" alt="" class="foto">
		            <h2>Tapado</h2>
		            <div class="codigo">Art. 	6469</div>
		        </a>
		    </div>
		</div>
	</div>