<div style="position:relative">
    <a href="@Url.Action("Camperas")">
        <img src="/Content/images/menu/CamperaAbrigosMujerDerecha.gif" alt="Camperas y Abrigos" class="botoneraRight botonera">
    </a>

    <a href="@Url.Action("calzaspantalones")">
        <img src="/Content/images/menu/pantalonesCalza.jpg" alt="Calzas y Pantalones" class="botonera">
    </a>
    
    <a href="@Url.Action("vestidoscamisolas")">
        <img src="/Content/images/menu/VestidosCamisolasMedio.jpg" alt="Vestidos y Camisolas" class="botonera">
    </a>

    <a href="@Url.Action("remerasbuzos")">
        <img src="/Content/images/menu/RemerasBuzosIzq.gif" alt="Remeras y Buzos" class="botonera">
    </a>

</div>