@using MvcApplication2.Resource;
@{
    ViewBag.Title = "";
}


@section PageScripts{

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                animation: "slow",
                wrap: "both"
            });
            $("a[rel=example_group]").fancybox({
                'transitionIn': 'none',
                'transitionOut': 'none',
                'titlePosition': 'over',
                autoSize: false,
                autoDimensions: false,
                //'autoScale': false,
                titleFormat: function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Foto ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });


        });


	</script>
}

    @{
        Html.RenderPartial("Botonera",null);
    }

    <div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">Camisas y enteritos para Nenas </span>
    </div>    
    <div id="content_container">
		<div id="productos_container">
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6660.jpg" title="Art. 6660 – Camisa escocesa – Talles: 4 al 14 – Colores: Coral - Rojo" class="fancybox-image">
		            <img src="/Content/images/baja/6660.gif" alt="" class="foto">
		            <h2>Camisa escocesa</h2>
		            <div class="codigo">Art. 	6660</div>
		        </a>
		    </div>
            
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6661.jpg" title="Art. 6661 – Camisa estampada flor – Talles: 4 al 14 – Colores: Turquesa - Rojo" class="fancybox-image">
		            <img src="/Content/images/baja/6661.gif" alt="" class="foto">
		            <h2>Camisa estampada flor</h2>
		            <div class="codigo">Art. 	6661</div>
		        </a>
		    </div>
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6662.jpg" title="Art. 6662 – Camisa Jean – Talles: 4 al 14 – Colores: Jean celeste localizado" class="fancybox-image">
		            <img src="/Content/images/baja/6662.gif" alt="" class="foto">
		            <h2>Camisa Jean</h2>
		            <div class="codigo">Art. 	6662</div>
		        </a>
		    </div>
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6673.jpg" title="Art. 6673 – Enterito corto – Talles: 4 al 14 – Colores: Turquesa – Coral" class="fancybox-image">
		            <img src="/Content/images/baja/6673.gif" alt="" class="foto">
		            <h2>Enterito corto</h2>
		            <div class="codigo">Art. 	6673</div>
		        </a>
		    </div>
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6714.jpg" title="Art. 6714 – Enterito corto – Talles: 4 al 14 – Colores: Rayado Azul - Fucsia - Aguamarina – Coral" class="fancybox-image">
		            <img src="/Content/images/baja/6714.gif" alt="" class="foto">
		            <h2>Enterito corto</h2>
		            <div class="codigo">Art. 	6714</div>
		        </a>
		    </div>
            
            <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6675.jpg" title="Art. 6675 – Enterito corto fibrana – Talles: 4 al 14 – Colores: Turquesa - Salmón - Azul" class="fancybox-image">
		            <img src="/Content/images/baja/6675.gif" alt="" class="foto">
		            <h2>Enterito</h2>
		            <div class="codigo">Art. 	6675</div>
		        </a>
		    </div>
            
		    <div class="producto_container" style=""> 
                <a rel="example_group" href="/Content/images/alta/6676.jpg" title="Art. 6676 – Enterito largo fibrana – Talles: 4 al 14 – Colores: Turquesa – Fucsia - Coral" class="fancybox-image">
                    <img src="/Content/images/baja/6676.gif" alt="" class="foto">
                    <h2>Enterito largo fibrana</h2>
					<div class="codigo">Art. 	6676</div>
			    </a>
			</div>
		</div>
	</div>