@using MvcApplication2.Resource;
@{
    ViewBag.Title = "";
}


@section PageScripts{

    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#mycarousel').jcarousel({
                scroll: 1,
                animation: "slow",
                wrap: "both"
            });
            $("a[rel=example_group]").fancybox({
                'transitionIn': 'none',
                'transitionOut': 'none',
                'titlePosition': 'over',
                autoSize: false,
                autoDimensions: false,
                //'autoScale': false,
                titleFormat: function (title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Foto ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });


        });


	</script>
}

    @{
        Html.RenderPartial("Botonera",null);
    }

    <div style="clear:both; padding-top:10px">
        <span class="clouthpage-title">Vestidos para Nenas </span>
    </div>    
    <div id="content_container">
		<div id="productos_container">
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6677.jpg" title="Art. 6677 – Vestido combinado fribrana – Talles: 4 al 14 – Colores: Coral - Turquesa – Fucsia" class="fancybox-image">
		            <img src="/Content/images/baja/6677.gif" alt="" class="foto">
		            <h2>Vestido combinado fribrana</h2>
		            <div class="codigo">Art. 	6677</div>
		        </a>
		    </div>

		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6679.jpg" title="Art. 6679 – Vestido ananaes – Talles: 4 al 14 – Colores: Coral - Aguamarina" class="fancybox-image">
		            <img src="/Content/images/baja/6679.gif" alt="" class="foto">
		            <h2>Vestido ananaes</h2>
		            <div class="codigo">Art. 	6679</div>
		        </a>
		    </div>
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6682.jpg" title="Art. 6682 – Vestido guarda – Talles: 4 al 14 – Colores: Coral - Rojo" class="fancybox-image">
		            <img src="/Content/images/baja/6682.gif" alt="" class="foto">
		            <h2>Vestido guarda</h2>
		            <div class="codigo">Art. 	6682</div>
		        </a>
		    </div>
						
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6683.jpg" title="Art. 6683 – Vestido 3 volados – Talles: 4 al 14 – Colores: Turquesa - Fucsia" class="fancybox-image">
		            <img src="/Content/images/baja/6683.gif" alt="" class="foto">
		            <h2>Vestido 3 volados</h2>
		            <div class="codigo">Art. 	6683</div>
		        </a>
		    </div>
											
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6685.jpg" title="Art. 6685 – Vestido gasa con raso – Talles: 4 al 14 – Colores: Blanco - Coral" class="fancybox-image">
		            <img src="/Content/images/baja/6685.gif" alt="" class="foto">
		            <h2>Vestido gasa con raso</h2>
		            <div class="codigo">Art. 	6685</div>
		        </a>
		    </div>	
            					
		    <div class="producto_container" style=""> 
		        <a rel="example_group" href="/Content/images/alta/6686.jpg" title="Art. 6686 – Vestido encaje y gasa – Talles: 4 al 14 – Colores: Blanco - Rosa - Coral" class="fancybox-image">
		            <img src="/Content/images/baja/6686.gif" alt="" class="foto">
		            <h2>Vestido encaje y gasa</h2>
		            <div class="codigo">Art. 	6686</div>
		        </a>
		    </div>	
		</div>
	</div>