/* CSS Document */
/************************************************** BODY *****************************************************/      

#container{
	display:relative;
	margin:0 auto;	
	width:837px;
	padding:0px 0px;
	overflow:hidden;
	z-index:100;
}


#consultanos{
	position:fixed;
	right:-43px;
	top:50%;
	display: block;	
	width:75px;
	height:113px;
	margin: -136px 0px;
	z-index:9999999;
	background:url(../imagenes/consultanos.png) no-repeat left center;
	cursor:pointer;
	transition: right .4s;
	-moz-transition: right .4s; /* Firefox 4 */
	-webkit-transition: right .4s; /* Safari and Chrome */
	-o-transition: right .4s; /* Opera */
}

#consultanos:hover{
	right:-2px;
}

/************************************************ CONTENT *************************************************/         
#content_container{
	position:relative;
	top:0px;
	right:4px;
	display:block;
	width: 80%;
	height:auto;
	margin:5px 20%;
	padding:15px 0px 30px 0px;
	overflow:hidden;
}


/************************************************ TEXTO *************************************************/   
#texto_container{
	position:relative;
	top:0px;
	left:5px;
	display:block;
	width: 630px;
	height:auto;
	z-index:150;
	overflow:hidden;
	padding:0px 0px 30px 0px;
	font:11px Verdana, Geneva, sans-serif;
}


/************************************************ PRODUCTOS *************************************************/   
#productos_container{
	position:relative;
	top:0px;
	left:0px;
	display:block;
	width: 650px;
	height:auto;
	z-index:150;
	overflow:hidden;
}

.fancybox-image {
    width: 100px;
	height: 100px;
}

#productos_container #descripcion_subcategoria{
	position:relative;
	top:0px;
	left:0px;
	display:block;
	width: 600px;
	height:auto;
	margin:0px 0px 20px 0px;
	padding:19px 19px;
	z-index:150;
	overflow:hidden;
	font:12px Arial, Helvetica, sans-serif;
	color:#524D30;
	background:#E9E4CE;
	border:1px solid #D4CCA5;
	border-radius:5px;
}


@font-face {
    font-family: albas;
    src: url(../font/ALBAS.ttf);
}

/*@font-face {
    font-family: oratorstds;
    src: url(../font/OratorStd.otf);
}*/
@font-face {
	font-family: OratorStd;
	src: url('../font/OratorStd.otf') format('opentype');
}
@font-face {
    font-family: airplanesintheNightSky;
    src: url(../font/AirplanesintheNightSky.ttf);
}
/*@font-face {
    font-family: littleBird;
    src: url(../font/LittleBird.ttf);
}*/

.producto_container{
	position:relative;
	display:block;
	width: 154px;
	height:213px;
	float:left;
	margin:0px 8px 12px 0px;
	padding:0px 0px;
	/*background: url(../imagenes/producto_bg.png) no-repeat top center;*/
	overflow:hidden;
}

.menu_aeroplane {
    float:left;
	display:block;
	width: 130px;
	height:90px;
	margin:0px 8px 12px 0px;
	padding:5px 10px 15px 0px;
	overflow:hidden;
}

.producto_container a{
	display:block;
	color:#524D30;
}

.logoImg{
	top:6px;
	left:14px;
	display:block;
	/*width: 130px;
	height: 143px;*/
	margin:1.5em 0px 0.8em 0px;
    padding:0px 0px;
}

.producto_container .foto{
	position:absolute;
	top:6px;
	left:14px;
	display:block;
	width: 130px;
	height: 143px;
	margin:0px 0px;
}
.botonera {
	position:relative;
    float: right;
	/*top:6px;*/
	padding-top: 5px;
	/*padding-right: 40px;*/
	/*display:block;*/
	width: 100px;
	height: 36px;
	margin: 0px 0px 0px 0px;
    	/*margin:10px 0px 0px 25px;*/
}

.botoneraRight {
    padding-right: 4em;
}

.botoneraLarge {
	width: 140px;
}
.producto_container h2{
	position:absolute;
	top: 142px;
	left: 13px;
	width: 128px;
	height:50px;
	font:bold  13px airplanesintheNightSky, sans-serif;
    text-align: center;
	color:#524D30;
	overflow:hidden;
	clear:both;
}

.producto_container .codigo{
	position:absolute;
	top: 117px;
	left: -24px;
	width: 137px;
	height:19px;
	font:11px Arial, Helvetica, sans-serif;
	text-align:right;
    font-family: OratorStd;
    /*font-family: airplanesintheNightSky;*/
	color:#787147;
	overflow:hidden;
	clear:both;
}

.producto_container .style6 {
	font-size: 10px;
	font-weight: bold;
}


.producto_container .precio{
	position:absolute;
	bottom: 7px;
	left: 17px;
	float:left;
	font:bold 14px  Arial, Helvetica, sans-serif;
	color:#fff;
	width: 122px;
	height: 20px;
	text-align:center;
}

.producto_container .precio:hover{
	color:#FFF;
	text-decoration:underline;
}


.producto_container .cart{
	position:absolute;
	bottom: 5px;
	_bottom: 4px;
	right: 9px;
	display:none;
	width:40px;
	height:29px;
	float:right;
	font:bold 12px  Arial, Helvetica, sans-serif;
	color:#fff;
	cursor:pointer;
}
 
/************************************************ PRODUCTOS DETALLES *************************************************/   

#producto_detalles_wrap{
	position:relative;
	display:block;
	width: 808px;
	height:461px;
	padding:0px 0px 0px 0px;
	margin:0px auto;
	/*background:url(../imagenes/detalles_bg.png) no-repeat top center;*/
}  


#producto_detalles_wrap h1{
	position:absolute;
	top: 11px;
	left: 21px;
	width: 734px;
	height:20px;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#FFF;
	overflow:hidden;
	clear:both; 
}

#producto_detalles_wrap #cerrar{
	position:absolute;
	top: 9px;
	right: 15px;
	float:right;
	width: 26px;
	height:26px;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#FFF;
	clear:both;
	cursor:pointer;
	z-index:9999999;
}

#producto_detalles_wrap #producto_detalles_scroll{
	position:absolute;
	display:block;
	width: 786px;
	height:408px;
	padding:0px 0px 0px 0px;
	margin:0px auto;
	overflow:auto;
	left: 6px;
	top: 42px;
}  





#producto_detalles_scroll #descripcion{
	position:absolute;
	top: 25px;
	right: 29px;
	float:right;
	width: 242px;
	height: 302px;
	text-align:left;
	overflow:auto;
}

#producto_detalles_scroll #foto{
	position:absolute;
	top:23px;
	left:11px;
	display:block;
	width: 481px;
	height: 361px;
	margin:0px 0px;
	background: url(../imagenes/galeria_bg.png) no-repeat top center;
	overflow:hidden;
}

#producto_detalles_scroll #precio{
	position:absolute;
	bottom: 37px;
	right: 178px;
	float:left;
	font:bold 12px  Arial, Helvetica, sans-serif;
	color:#fff;
	width: 97px;
	height: 21px;
	padding:8px 0px 0px 0px;
	text-align:center;
	background: url(../imagenes/precio_bg.png) no-repeat top left;
}

#producto_detalles_scroll #cart{
	position:absolute;
	bottom: 37px;
	right: 138px;
	display:block;
	width:40px;
	height:29px;
	float:right;
	font:bold 12px  Arial, Helvetica, sans-serif;
	color:#fff;
	cursor:pointer;
}
 
#producto_detalles_scroll #print{
	position:absolute;
	bottom: 37px;
	right: 32px;
	display:block;
	width:29px;
	height:29px;
	float:right;
	cursor:pointer;
}
 



#producto_detalles_scroll #producto_texto{
	position:absolute;
	display:block;
	width: 733px;
	height:auto;
	padding:0px 0px 0px 0px;
	margin:0px auto;
	left: 21px;
	top: 397px;

}  


/************************************************ PRODUCTOS DETALLES LINK PERMANENTE*************************************************/   

#producto_detalles_container2{
	position:relative;
	top:0px;
	left:5px;
	display:block;
	width: 630px;
	height:330px;
	z-index:150;
	overflow:hidden;
	font:11px Verdana, Geneva, sans-serif;
}  


#producto_detalles_container2 #foto #prev{
	position:absolute;
	top:50%;
	left:3px;
	display:block;
	width:39px;
	height:37px;
	padding:0px;
	margin:-18.5px 0px;
	background:url(../imagenes/galleryPrev.png) no-repeat top center;
	z-index: 1900;
	cursor:pointer;
}

#producto_detalles_container2 #foto #prev:hover{
	background:url(../imagenes/galleryPrev.png) no-repeat bottom center;
}


#producto_detalles_container2 #foto #next{
	position:absolute;
	top:50%;
	right:4px;
	display:block;
	width:39px;
	height:37px;
	padding:0px;
	margin:-18.5px 0px;
	background:url(../imagenes/galleryNext.png) no-repeat top center;
	z-index: 1900;
	cursor:pointer;
}

#producto_detalles_container2 #foto #next:hover{
	background:url(../imagenes/galleryNext.png) no-repeat bottom center;
}



#producto_detalles_container2 #foto #magnifier{
	position:absolute;
	bottom:10px;
	left:10px;
	display:block;
	width:182px;
	height:27px;
	padding:0px;
	margin:0px;
	z-index: 1900;
	cursor:pointer;
}

#producto_detalles_container2 #foto:hover #magnifier{
	background:url(../imagenes/magnifier.png) no-repeat center center;
}



#producto_detalles_container2 h1{
	position:absolute;
	top: 11px;
	left: 21px;
	width: 734px;
	height:20px;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#FFF;
	overflow:hidden;
	clear:both; 
}


#producto_detalles_container2 #descripcion{
	position:absolute;
	top: 0px;
	right: -2px;
	float:right;
	width: 217px;
	height: 270px;
	text-align:left;
	overflow:auto;
}

#producto_detalles_container2 #foto{
	position:absolute;
	top:-5px;
	left:-5px;
	display:block;
	width: 400px;
	height: 300px;
	margin:0px 0px;
	padding:5px 5px;
	overflow:hidden;
	background:url(../imagenes/fotodetalles_bg.png) no-repeat top center;
	z-index:1010;
}




#producto_detalles_container2 #compartir{
	position:absolute;
	top:300px;
	left:15px;
	float:left;
	width: 90px;
	height: 25px;
	cursor:pointer;
	z-index:1000;
}


#producto_detalles_container2 #descripcion #___plusone_0{
	position:relative;
	top: 0px;
	left: 10px;
	z-index:1000;
}

#producto_detalles_container2 #precio{
	position:absolute;
	top: 274px;
	right: 84px;
	float:left;
	font:bold 14px  Arial, Helvetica, sans-serif;
	color:#fff;
	width: 93px;
	height: 25px;
	padding:7px 20px 0px 20px;
	text-align:center;
	background:url(../imagenes/precio_bg1.png) no-repeat top center;
}


#producto_detalles_container2 #precio:hover{
	color:#FFF;
	text-decoration:underline;
}


#producto_detalles_container2 #cart{
	position:absolute;
	top: 274px;
	right: 82px;
	display:none;
	width:40px;
	height:29px;
	float:right;
	font:bold 12px  Arial, Helvetica, sans-serif;
	color:#fff;
	cursor:pointer;
}
 
 #producto_detalles_container2 #print{
	position:absolute;
	bottom: 42px;
	right: 39px;
	display:none;
	width:29px;
	height:29px;
	float:right;
	cursor:pointer;
	
}
 

#text1{
	margin:10px;
}

 
/************************************************ PRODUCTOS GALERIA *************************************************/   
#my_slideshow{
	position:absolute;
	top:3px;
	left:3px;
	display:block;
	width: 395px;
	height: 295px;
	margin:0px 0px;
	overflow:hidden;
}

#my_slideshow div img{
	position:relative;
	top:0px;
	left:0px;
	display:block;
	width: 395px;
	height: 295px;
	margin:0px 0px;
	overflow:hidden;
}

#my_slideshow ul{
	position: absolute;
	top:129px;
	left:-27px;
	display:block;
	width: 373px;
	height:31px;
	z-index:100000;
}
#my_slideshow li{
	position:relative;
	display:block;
	width: 180px;
	height:31px;
	float:left;
	padding:0px 3px;
}


#my_slideshow .next{
	position:absolute;
	right:0px;
	display:block;
	width: 42px;
	height:31px;
	float:right;
	background:url(../imagenes/galeria_flechas.png) no-repeat right top;
	cursor:pointer;
}

#my_slideshow .prev{
	position:absolute;
	left:0px;
	display:block;
	width: 42px;
	height:31px;
	float:left;
	background:url(../imagenes/galeria_flechas.png) no-repeat left top;
	cursor:pointer;
}




/*
GALERIA DE LIGHTBOX DESACTIVADA

#my_slideshow{
	position:absolute;
	top:10px;
	left:4px;
	display:block;
	width: 451px;
	height: 338px;
	margin:0px 0px;
	overflow:hidden;
}

#my_slideshow div img{
	position:relative;
	top:0px;
	left:0px;
	display:block;
	width: 451px;
	height: 338px;
	margin:0px 0px;
	overflow:hidden;
}

#my_slideshow ul{
	position: absolute;
	top:129px;
	left:-22px;
	display:block;
	width: 440px;
	height:31px;
	z-index:100000;

}
#my_slideshow li{
	position:relative;
	display:block;
	width: 210px;
	height:31px;
	float:left;
	padding:0px 3px;
}


#my_slideshow .next{
	position:absolute;
	right:0px;
	display:block;
	width: 42px;
	height:31px;
	float:right;
	background:url(../imagenes/galeria_flechas.png) no-repeat right top;
	cursor:pointer;
}

#my_slideshow .prev{
	position:absolute;
	left:0px;
	display:block;
	width: 42px;
	height:31px;
	float:left;
	background:url(../imagenes/galeria_flechas.png) no-repeat left top;
	cursor:pointer;
}
*/
/************************************************ FOOTER *************************************************/         

#footer_container{
	position:relative;
	top:-8px;
	display:block;
	height:76px;	
	width:829px;
	padding:0px 0px;
	margin:0px auto 20px auto;
	z-index:1000;
	background:url(../imagenes/footer_bg.png) no-repeat top center;
}


#footer_center{
	position:absolute;
	top:22px;
	left:15px;
	float:left;
	display:block;
	width:580px;
	height:40px;
	padding:0px 0px;
	margin: 0px 0px;
	color:#01568C;
	text-align:left;
}

#footer_center a{
	color:#01568C;
}


#footer_400{
	position:absolute;
	top:25px;
	right:20px;
	float:right;
	display:block;
	width:120px;
	height:30px;
	padding:0px 0px;
	margin: 0px 0px;
}

/************************************************* CART **************************************************/   

#cart_container {
	position:relative;
	top:0px;
	display:block;
	font:9px Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFFFFF;
	margin: 0 auto;
	width:732px;
	height:245px;
	padding: 35px 25px 25px 10px;
	text-align:left;
	background:url(../imagenes/cart_bg.png) no-repeat top left;
	left: -10px;
}


.cart_item{
	width:730px;
	height:18px;
	border:#FFFFFF solid 1px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	clear:both;
}

#cart_item_container{
	width:717px;
	height:130px;
	overflow-x: hidden; 
	overflow-y: scroll;
	background-color: #F8F8F8;
}


.cart_item_titulo{
	width:730px;
	height:21px;
	//height:20px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 1px 0px;
	clear:both;
}

.cart_item_titulo div{
	display: block;
	color:#FFFFFF;
	height:19px;
	padding: 3px 3px 0px 3px;
	margin: 0px 1px 0px 0px;
	float:left;
	background-color: #82BA3B;

}



.cart_item div{
	display: block;
	height:19px;
	padding: 3px 3px 0px 3px;
	margin: 0px 1px 0px 0px;
	float:left;
	background-color: #EEEAD8;
	
}


.cart_label_eliminar{
	text-align:center;
	width:31px;

}

.cart_label_codigo{
	width:80px;
}

.cart_label_titulo{
	width:209px;
}

.cart_label_variante{
	width:190px;
}

.cart_label_cant{
	width:30px;
}

.cart_label_cant input{
	font:9px Verdana, Arial, Helvetica, sans-serif;
	width:20px;
	height:12px;
	background:#F9F9F9;
	border:1px solid #CCCCCC;
	margin:0px 3px 0px 3px;
}

.cart_label_precio{
	width:64px;
	font-weight:bold;
}


#cart_controles{
	width:580px;
	height:15px;
	//height:22px;
	padding: 7px 0px 7px 0px;
	margin: 3px 0px 1px 0px;
	text-align:right;
	clear:both;
}



#cart_container #cerrar{
	position:absolute;
	top: 0px;
	right: 36px;
	float:right;
	width: 26px;
	height:26px;
	color:#FFF;
	overflow:hidden;
	clear:both;
	cursor:pointer;
}

/*************************************************** ARTICULOS *************************************/
#articulos_container{
	display:block;
	float:left;
	width: 100%;
	height:auto;
	margin:4px 0px;

}


.articulo_container{
	position:relative;
	display:block;
	width:100%;
	height:auto;
	float:left;
	padding: 0px 0px 8px 0px;
	margin: 0px 0px 15px 0px;
	border-bottom:1px dotted #CCCCCC;
	_border-bottom:1px solid #CCCCCC;
}


.articulo_container .fecha, .articulo_destacado_container .fecha{
	font:11px  Arial, Helvetica, sans-serif;
	color: #666666;
}

.articulo_container .seccion, .articulo_destacado_container .seccion{
	font:11px  Arial, Helvetica, sans-serif;
	color: #666666;
}

.articulo_container h2{
	color:#1B9ED5;
	font:26px  Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px;
}

.articulo_container h2 a{
	color:#1B9ED5;
	font:20px  Arial, Helvetica, sans-serif;
}


.articulo_container h3{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.articulo_vermas{
	position:absolute;
	bottom:5px;
	right:5px;
	display:block;
	float:right;
}


#content_herramientas{
	display: block;
	heigth: 90px;
	width: 21px;
	float:right;
	text-align:right;
	margin:3px 0px 5px 5px;
	padding:0px 0px 8px 8px;
	border-left:1px solid #BFB69B;
	border-bottom:1px solid #BFB69B;
}

/*************************************************** Articulos relacionados *************************************/


#articulos_relacionados{
	display:block;
	height:auto;
	margin:0px 0px 15px 0px;
	padding:0px 0px 10px 0px;
	list-style:none;
	clear:both;
}

#articulos_relacionados li{
	display:block;
	margin:0px;
	padding:0px;
	clear:both;
}

#articulos_relacionados li span{
	display:block;
	float:left;
	margin:2px 0x;
	padding:2px 2px 2px 15px;
	color: #666666;
	background: url(../imagenes/icon_outer_link.gif) no-repeat center left;
}


#articulos_relacionados li a{
	display:block;
	float:left;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#000000;
	margin:2px 0x;
	padding:1px 2px;
}


#articulos_relacionados li a:hover{
	color:#1294C2;
}


/*************************************************** COMENTARIOS *************************************/
#comentarios_container{
	display:block;
	height:auto;
	padding: 10px 0px;
	margin: 0px 0px 0px 0px;
}

.comentario_registro{
	display:block;
	height:auto;
	padding: 10px 8px;
	margin: 10px 0px 5px 0px;
}

.comentario_registro h3{
	display:block;
	width: 280px;
	height:auto;
	margin: 0px 0px 0px 0px;
	float:left;
	color:#333333;
}


.comentario_fecha{
	display:block;
	width: 110px;
	height:16px;
	margin: 0px 0px 0px 0px;
	text-align:right;
	float:right;
}


.comentario_texto{
	display:block;
	padding: 5px 0px 5px 0px;
	clear:both;
}

/************************************************ PAGINACION *************************************************/         

.pagination{
padding: 2px;
margin: 10px 0px 10px 0px;
}

.pagination ul{
font-size: 11px;
text-align:center;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 1px 4px;
font-weight:bold;
text-decoration: none; 
color: #666666;
border: 1px solid #999999;

}

.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
padding: 1px 4px;
color: #FFF;
background:#01568C;
}

.pagination li.currentpage{
font-weight: bold;
padding: 1px 5px;
margin:0px 5px 0px 0px;
border: 1px solid #999999;
background:#01568C;
color: #FFF;
}

.pagination li.disablepage{
padding: 1px 5px;
border: 1px solid #929292;
color: #929292;
}


.pagination li.nextpage{
font-weight: bold;
}
/*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
* html .pagination li.currentpage, * html .pagination li.disablepage{ 
margin-right: 5px;
padding-right: 5px;
}
