/*

	project: happy template

	author: luka cvrk (www.solucija.com)

*/

*{margin:0;padding:0;}:focus,:active {outline:0}ul,ol{list-style:none}h1,h2,h3,h4,h5,h6,pre,code {font-size:1em;}a img{border:0} 

body { font: .9em Georgia, "Times New Roman", Arial, Sans-Serif; background: #E8F7FC url(../images/bg.jpg) repeat-x; color: #306172; }

a { color: #3A65A8; text-decoration: none; }

h1 { font-size: 4em; font-weight: inherit; font-family: albas }

/*h2 { float: left; text-transform: lowercase; clear: both; font-size: 2.4em; margin: 0 0 20px; font-weight: normal; color: #CB6F9C; background: url(../images/h2bg.jpg) repeat-x bottom; }*/

p  { clear: both; margin: 5px 0 15px; line-height: 1.7em; }

.clear { clear: both; }


imgResize2 {
   max-width:64%;
   max-height:64%;
}

.wrap { margin: 0 auto; width: 900px; }

#logo { float: left; margin: 28px 0 0; }

#menu { text-transform: lowercase; float: right; height: 120px; padding: 64px 6px 0 98px; width: 475px; background: url(../images/white_bubbles.jpg) no-repeat top right; }

	#menu li { display: inline; }

		/*#menu li a { float: left; padding: 3px 6px; margin: 0 20px 0 0; font-weight: bold; color: #B25281;font-family: airplanesintheNightSky; }*/
		/*#menu li a { float: left; margin: 0 28px 0 0; font-weight: bold; color: #B25281;font-family: airplanesintheNightSky;  font-size: 1.5em}*/
        #menu li a {
              font-weight: bold; 
              color: #57A3D6;
              font-family: airplanesintheNightSky;
               /*font-family: oratorstd1;*/
        }
        .amenu {
             float: left; margin: 0 28px 0 0; 
             font-weight: bold; 
             color: #57A3D6; 
             font-family: airplanesintheNightSky;
             font-size: 1.5em
        }
		/*#menu li a:hover, #menu li a.current { background: #EDD3E0; }*/

		.menubebes {
		     float: left; 
             margin: 0 28px 0 0; 
             font-weight: bold; 
             color: #57A3D6;
             font-family: airplanesintheNightSky;
             padding: 0 20px; font-size: 1.5em
		}
        .menuminibebes {
             float: left; 
             margin: 0 51px 0 -22px; 
             font-weight: bold; 
             color: #57A3D6;
             font-family: airplanesintheNightSky;
            font-size: 1.5em;
        }
        .menucontactenos {
             float: right; 
             margin: 0 9px 0 -22px; 
             font-weight: bold; 
             color: #57A3D6;
             font-family: airplanesintheNightSky;
            font-size: 1em;
        }

.clouthpage-title {
    font-family: airplanesintheNightSky; 
    font-size: 2.4em;

}

#text { clear: both; margin: 0 0 40px; }



#green_bubble { padding: 30px 0 68px 280px; height: 30px; background: url(../images/green_bubbles.jpg) no-repeat center left; }

	#green_bubble a { color: #34AE61; font-weight: bold; margin: 0 30px 0 0; }



#footer { background: #FF99CB; }
	

/*#slider {padding-top: 45px; padding-left: 25px; width: 50px; width: auto; position: relative;}
ul#mycarousel {position: relative;}
ul#mycarousel li {float: left; display: inline; height: 184px; width: 270px;}
.jcarousel-clip { height:184px; width:800px; overflow:hidden; position:relative;}
.jcarousel-prev ,
.jcarousel-next {background: url(/Content/images/home/next.gif) no-repeat 0 0; width: 28px; height: 30px; display: block; float: left; position:absolute; top:120px; left: 870px; cursor: pointer; }
.jcarousel-prev { background: url(/Content/images/home/prev.gif) no-repeat 0 0; left: -39px;}

.img-cnt {background: url(images/image-shadow.png) no-repeat 0 0; width: 264px; height: 184px; float: left;}
.img-cnt img {display: block; margin: 0 auto; padding-top: 6px;}*/



.imgClouth-Title
{
	font-family: Forte;
	font-size: large;
	text-decoration: underline overline;
	font-weight: bold;
	font-style: italic;
}


.imgClouth-Description
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-weight: normal;
}

.imgClouth {
	width: 150px;
	height: 200px;
	
}

.cluster
{
    border-top: 1px solid #999;
    margin: 0 0 20px;
    padding: 0 0 10px;
    border: 1px solid #CCC;
    border-top: 5px solid #CCC;
    color: black;
    position: relative;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 5px 1px 1px;
    display: table;
    width: 90%;
}


.field-validation-error {
    color: #FF0000;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    background-color: #FFEEEE;
    border: 1px solid #FF0000;
}
.validation-summary-errors {
    color: #FF0000;
    font-weight: bold;
}
.validation-summary-valid {
    display: none;
}
/*-----------------------------------*/

#SearchResults {
	width: 504px;
	margin: 0 auto;
	text-align: left;
}

.SearchPic {
	height: 105px;
	margin: 10px;
	float: left;
	width: 80px;
}

.SearchInfo {
	float: left;
	margin-top: 10px;
	width: 400px;
	font-size: 12px;
	min-height: 115px;
}

.SearchPrice {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
	font-weight: bold;
}

#SearchResultsContent .SearchResultsTitle {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	font-weight: bold;
	font-size: 13px;
}

#SearchResultsContent ul {
background: none;
margin-bottom: 10px;
margin-top: 10px;
font-size: 12px;
}

/* Search Results */
#SearchResults {width:504px; margin:0 auto; text-align:left; }
#SearchResults-header {height:22px;width:515px; padding: 7px 0px 6px 13px; border:1px solid #bbbbbb; background-image:url('/static/Aranzadi/images/global/relacionados-header-bg.gif');}
.SearchResults-headerTextLeft {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#4d4b3c; float:left; padding-top:3px;}
.SearchResults-headerTextRight {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; float:right; padding-right:10px; padding-top:3px;}
#SearchResults-header .black { color:#333333; font-weight:bold;}

/*For the searchresults footer pager*/
#SearchResults-footer {height:22px; }
.SearchResults-footerTextRight {font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; float:right; padding-right:10px; padding-top:3px; padding-bottom:3px;}

#SearchResultsContent {height:100%;}
.SearchPic {height:105px; margin:10px; float:left; width:80px;}
.SearchInfo {float:left; margin-top: 10px; width:400px; font-size:12px; min-height:115px;}
#SearchResultsContent ul {background:none; margin-bottom:10px; margin-top:10px; font-size:12px;}
#SearchResultsContent li {margin-bottom:3px;}
#SearchResultsContent .SearchResultsTitle {font-family:Arial, Helvetica, sans-serif; display:block; font-weight:bold; font-size:13px;}
#SearchResultsContent .abstract {display:block;}
#SearchResultsSearchTerms {font-family:Arial,Helvetica,sans-serif; font-weight:normal; text-transform:uppercase; margin: 10px; font-size:13px; font-style: normal; font-variant: normal; text-transform:none;}
#SearchResultsSearchTerms  .light {color:#b9b9b9}
.authorBold { font-weight:bold; margin-top:10px;}
.SearchPrice {float:right; margin-bottom:10px; margin-right:10px; font-weight:bold;}
.searchDots {border-bottom:1px #bababa dotted; clear:both; margin-top:5px; margin-bottom:5px;}
.SearchDimsContent {line-height: 140%;}
#SearchResultsContent .label {font-family:Arial,Helvetica,sans-serif; font-weight:bold; color:Black; font-size:12px; }
#SearchResultsContent .priceLabel {font-family:Arial,Helvetica,sans-serif; font-weight:bold; color:Red; font-size:13px; }

/*---------------------*/
.searchDots {
	border-bottom: 1px dotted #BABABA;
	clear: both;
	margin-bottom: 5px;
	margin-top: 5px;
}